// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

// variables and mixins
@backColor:beige;
@fontFam1: Palatino Linotype;
@fontSize:1.5rem;

.mixinCenter() {
	display:flex;
	justify-content:center;

}

.mixinEvenly(){
	display: flex;
	justify-content:space-evenly;
}

.mixinEnd(){
	display: flex;
	justify-content: flex-end;
}

.mixinColumn(){
	display:flex;
	flex-direction: column;
}


html, body {
	height: 100%;
	max-width: 100%;
	background-color:@backColor;
	font-family: @fontFam1; 
	font-size:62.5%;
	
}

header {


	font-size:1.5rem ;

	

	nav {
		.mixinEnd();
		margin-right:4%;

	@media screen and(max-width:500px){
		.mixinCenter();
		margin:0 auto;
		
	} //ends media query
		a {
			padding:0 1%

	



		} //anchor end
		

	} // nav end

} //this closes header

.introImg {
	width:90%;
	height:35rem;
	margin:1% 5%
}

header h1 {
	.mixinCenter();
	font-size: 3.5rem;

	

}

h2, h3 {
		.mixinCenter();
		padding-top: .4%;
		font-size: 2rem;
	}


	.intro{
		.mixinCenter();
		font-size: 1.8rem;
		margin:1% 5%;
		line-height: 1.5;

	}	//intro end


	.middleContent {

		@media screen and(max-width:500px){
			.mixinColumn;
		}//end media

		font-size: 1.8rem;
		display: flex;
		line-height:2.5rem;
		
		
		margin:1% 3.5%;
		padding:1% 1%;

	.workAndSkills1 {
		// justify-content: space-evenly;
		border: .1rem solid grey;
		padding:1% 1%;
		margin-right:5%;

		p {
			padding-top:2%;
		}

		


	
	


	} //wk skills1

	
	} //end middleContent

	.workAndSkills2 {
		@media screen and(max-width:500px){
			margin:1% 5% 0 0%;
		}//end media
		
		border:.1rem solid grey;
		margin-left: 5%;
		padding:1% 1%;
		

		p {
			padding-top: 2%;
		}

		
	}


	
		.bottomImg {
			
			width:90%;
			height:20rem;
			margin:0 5%;
			
			@media screen and(max-width:500px){
				display:none;
			}
		}

.bottomContent {
margin-left: 5%;
font-size: 1.5rem;

h2 { 
	padding:2% 0;
	// display: flex;
// flex-direction: column;
justify-content: flex-start;



}//h2
}//botcont


footer {

	

	font-size: 1.5rem;
	margin-left:4%;
	padding-top:3%;

	
	a {
		padding:0 1%;
	}
}